
<div class="row">
  <div class="col-xs-12">
    <h1>Entrar</h1>
  </div>

  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= form_for :session, url: entrar_path, method: :post do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
      </div>

      <%= f.submit 'Entrar', class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>