<div class="row">
  <div class="col-xs-12">
    <h1>Cadastra-se</h1>
  </div>

  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= form_for @user do |f| %>
     <%= render 'layouts/error_messages',object: f.object %>
    <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: 'form-control'%>
    </div>

    <div class="form-group">
        <%= f.label :email%>
        <%= f.email_field :email, class: 'form-control'%>
    </div> 

    <div class="form-group">
        <%= f.label :password%>
        <%= f.password_field :password, class: 'form-control'%>
    </div>  
    <div class="form-group">
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation, class: 'form-control'%>
    </div>   
      <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
