<% if object.errors.any? %>
    <div class="">
        <div class="alert alert-danger">
        vish! Encontramos <%= pluralize(object.errors.count,'erro','erros')%>
         <ul> 
            <% object.errors.full_messages.each do |msg| %>
             <li><%= msg %> </li>
            <% end %>        
         </ul>
        </div>
    </div>
<% end %>