
<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expanded-menu" aria-expanded=" false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>
    </div>

  <!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
  <div class="collapse navbar-collapse" id="expanded-menu">
    <ul class="nav navbar-nav">
      <% if !user_signed_in? %>
        <li class="active">
          <%= link_to 'Nova Conta', new_user_path %>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">

        <% if !user_signed_in? %>
        <li>
          <%= link_to 'Entrar', entrar_path %>
        </li
      <% else %>
        <li >
          <a>
            bem vindo, <%= current_user.name %>
          </a>
          
            <li>
              <%= link_to 'Minha Pagina', current_user %>
            </li>
            <li>
              <%= link_to 'Editar', '#' %>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <%= link_to 'Sair', sair_path, method: :delete %>
            </li>
         
        </li>
<% end %>

    </ul>

  </div>

  </div>

</nav>